<div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <div (click)="icin()">ICIN Bank</div>
                </div>
                <div class="col">
                    <div (click)="userAcc()">User Account</div>
                </div>
                <div class="col">
                    <div (click)="checkbookrequests()">Cheque Book Request</div>
                </div>
            </div>
        </div>

        <div class="col-3">
            Logout
        </div>
    </div>
</div>